{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "no-console": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "endOfLine": "auto",
        "tabWidth": 2
      },
    ],
  }
}