div.list__container {
  display: flex;
  margin-top: 2em;
  justify-content: flex-start;
}

input.list__input {
  margin-right: 5em;
}

button.list__button {
  align-self: center;
  margin-left: 1em;
}

.loading__div {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.list__input {
  background: white;
  color: white;
}

.list__area {
  background-color: white;
  color: black;
}